*{
    margin:5px;
    width: auto;

}
body{
    background-color: rgb(47, 41, 41);
    background-image: url(img/fundo-de-design-de-padrao-organico-abstrato_1048-19286.avif);
    background-size: 200px;
    
}
h1{
    text-align: center;
    text-decoration:wavy;
    color: rgb(209, 206, 45);
    font-family:Georgia, 'Times New Roman', Times, serif
    
}
p{
    text-align: justify;
    text-align: center;
    text-decoration-color: rgba(0, 0, 0, 0.701);
    font-size: larger;
    font-style: oblique;
    color: white;
}

img{
    width: 300px;
    border-width: 7px;
    border-radius: 30px;
    border-style:inset;
    border-color: rgb(163, 169, 93);
}
nav{
    background-color: rgb(10, 9, 9);
    padding: 10px; /*espacamento interno*/
}

nav ul{
    /*(list-style-type: none;)*/ /*remove as bolinhas da lista*/
    margin:0; 
    padding:0;
    display: flex; /*deixa os intens na horizontal*/
    justify-content: center; /*centralisa os intens*/


}
h2{
 text-decoration:solid;
 text-decoration-line:underline;
 text-decoration-color: rgb(0, 0, 0);
 color: rgb(209, 206, 45);
 
}

nav ul li{
    margin: 0 35px;
}

nav ul li a:hover{
    color: rgb(228, 166, 72);

}

nav ul li a{
    color: rgb(208, 239, 31);
    font-size: 20px;
    transition-delay: 0.3s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
/* Estilo geral do footer */
footer {
    background-color: #333;
    color: white;
    padding: 40px 0;
    font-family: Arial, sans-serif;
}